.carousel {
 margin-top: 15%;
}
.container {
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  border-bottom: 2px grey solid;
}
.photo1 {
  padding-top: 5%;
}
.rows {
  text-align: left;
  padding-top: 50px
  font-size: 20px;
}


.rows2 {
  text-align: left;
  font-size: 20px;
}

.rows3 {
  text-align: left;
  font-size: 20px;
}

.hr {
  height: 2px;
  width: 25%;
  border-bottom: 2px grey solid;
}

.hr2{
  height: 2px;
  width: 100%;
  border-bottom: 2px grey solid;
}

.hr3{
  height: 2px;
  width: 50%;
  border-bottom: 2px grey solid;
}

.divLast
{
   top: 0px;
   margin:0px;
   padding: 0px 2px 2px 3px;
   border-width: 2px;
   border-bottom: 2px grey solid;
   width: 100%;
}