
.carousel {
 margin-top: 15%;
}
.navbar-brand {
  font-size: 25px;
}
.container {
  font-size: 20px;
/*  color: #828276;
*/  font-family: 'Roboto', sans-serif;
}
.contact {
  font-size: 20px;
  text-align: center;
}

.navbar-inverse {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}


.jumbotron {
  text-align: center;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  margin-top: 10%;
  opacity: .5;
}
.photo1 {
  padding-top: 5%;
}
.rows {
  text-align: left;
  font-size: 20px;
}

.inside > .hr3 {
  height: 2px;
  width: 75%;
  border-bottom: 3px grey solid;

}

.inside > .hr4 {
  height: 2px;
  width: 30%;
  border-bottom: 2px grey solid;
}

.inside > .hr3 {
  height: 2px;
  width: 20%;
  border-bottom: 2px grey solid;
}


.rows2 {
  text-align: left;
  font-size: 20px;
}

.rows3 {
  text-align: left;
  font-size: 20px;
}

.hr {
  height: 2px;
  width: 80%;
  border-bottom: 2px grey solid;
}

.hr2 {
  height: 2px;
  width: 60%;
  border-bottom: 3px grey solid;
}

.hr3 {
  height: 1px;
  width: 40%;
  border-bottom: 2px grey solid;
}

.hr4 {
  height: 2px;
  width: 30%;
  border-bottom: 2px grey solid;
}

.hr5 {
  height: 2px;
  width: 100%;
  border-bottom: 2px grey solid;
}
